[submodule "third-party/gtest"]
	path = third-party/gtest
	url = https://github.com/google/googletest
[submodule "third-party/CMake-codecov"]
	path = third-party/CMake-codecov
	url = https://github.com/RWTH-HPC/CMake-codecov.git
